.HBGbttn,
.HBGbttn span {
  transition: all 0.4s;
  box-sizing: border-box;
  z-index: 25;
}

.HBGbttn {
  position: absolute;
  width: 35px;
  height: 25px;
  left: 20px;
  top: 15px;
  z-index: 205;
}

.HBGbttn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.HBGbttn span:nth-of-type(1) {
  top: 0;
}

.HBGbttn span:nth-of-type(2) {
  top: 11px;
}

.HBGbttn span:nth-of-type(3) {
  bottom: 0;
}

.HBGbttn.active span:nth-of-type(1) {
  animation : active_menu_bar_01 .5s forwards;
  -webkit-animation : active_menu_bar_01 .5s forwards;
  background-color: #222;
}

.HBGbttn.active span:nth-of-type(2) {
  animation : active_menu_bar_02 .5s forwards;
  -webkit-animation : active_menu_bar_02 .5s forwards;
  background-color: #222;
}

.HBGbttn.active span:nth-of-type(3) {
  animation : active_menu_bar_03 .5s forwards;
  -webkit-animation : active_menu_bar_03 .5s forwards;
  background-color: #222;
}

.HBGMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 200;
  overflow: hidden;
  transition: width 1s, opacity 1s; /* opacity에 대한 트랜지션 추가 */
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  visibility: hidden; /* 초기 visibility 설정 */
  opacity: 0;
}

.HBGMenu img {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0%);
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: solid 3px black;
}

div > .HBGMenu > p {
  position: absolute;
  left: 50%;
  top: 34%;
  transform: translate(-50%, 0%);
  width: 250px;
  line-height: 40px;
  text-align: center;
  color: #222;
  border-radius: 5px;
  border: solid 2px #222;
}

.HBGMenu div {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 600px;
  width: 320px;
}

.HBGMenu div > li {
  margin-top: 30px;
  border-radius: 5px;
  border: solid 2px #222;
  line-height: 45px;
  height: 45px;
}

.HBGMenu div > li:hover {
  opacity: 0.6;
}

.HBGMenu div > li > a {
  font-family: "Anurati";
  width: 320px;
  font-size: 20px;
  font-weight: bold;
  color: #222;
  display: block;
}