.sectionbox {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: center;
}

#nowsection {
  font-family: "ridge-bold-oblique";
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 15px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s;
  border-radius: 5px;
}