#Home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 0;
}

.imagebox {
  display: flex;
  width: 700px;
  height: 700px;
  margin-top: 70px;
  align-items: center;
  position: relative;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  opacity: 0;
  animation: fadein 1s linear forwards,
  box_rotate 1s linear forwards;
  overflow: hidden;
  transform: translate(-10%, 40%);
}

.imagebox img {
  margin-top: 320px;
  margin-left: 100px;
  width: 180px;
  height: 350px;
  object-fit: cover;
  z-index: 10;
  transform: rotate( -75deg );
  opacity: 0;
  animation: flash 1s linear forwards 1.2s;
}

.imagebox .textbox {
  z-index: 10;
  position: absolute;
  margin-left: 200px;
  margin-bottom: 200px;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  transform: rotate( -75deg );
}

.textbox h1 {
  color: #000;
  text-align: center;
  margin: 10px 0;
}

.textbox h2 {
  color: #000;
  text-align: center;
  margin: 10px 0;
}

.textbox h1 > span {
  font-family: Gasoek One, sans-serif;
  font-size: 40px;
  font-weight: 400;
  opacity: 0;
}

.textbox h1 > span.animated {
  animation: fadein 500ms forwards;
}

.textbox h2 > span {
  font-family: "Metropolis", sans-serif;
  font-size: 60px;
  font-weight: bold;
  opacity: 0;
}

.textbox h2 > span.animated {
  animation: fadein 500ms forwards;
}

.descbox {
  margin-top: 250px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
}

.descbox h2 {
  font-family: "Metropolis", sans-serif;
  font-size: 150px;
  line-height: 110px;
  text-align: right;
  font-weight: bold;
  color: #000;
  margin: 40px 0;
  transition: all 0.5s;
  text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    45px 45px 10px #482896;
  cursor: pointer;
  animation: comeInStyle 5s ease-out;
}

.descbox h2:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}